* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

.App {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #020617;/* Fixed here */
  padding: 20px 0;
}
